[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = US
ST = State
L = City
O = Company
OU = Webhook
CN = pod-webhook-mutator.default.svc.cluster.local

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = pod-webhook-mutator.default.svc.cluster.local
DNS.2 = localhost
