[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = India
ST = Maharashtra
L = Pune
O = vishals
OU = Webhook
CN = pod-webhook-mutator

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = pod-webhook-mutator.default.svc.cluster.local
DNS.2 = pod-webhook-mutator.default.svc.cluster
DNS.3 = pod-webhook-mutator.default.svc
DNS.4 = pod-webhook-mutator.default
DNS.5 = pod-webhook-mutator
DNS.6 = localhost